<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>지도 테스트</title>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/login.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/member_modify.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/rank_page.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/join.css}">
  </head>
  <body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="/resources/images/OJM.png" alt="Logo" class="logo-img">
                <h1>오늘 점심 뭐 먹지?</h1>
            </div>
            <div class="auth">
                <div class="auth-links">
                    <a href="/login">로그인</a>
                    <span>|</span>
                    <a href="/signup">회원가입</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 삽입될 내용 -->
    <!-- <div th:replace="~{/OJM/header :: content}"></div> -->
    <th:block layout:fragment="content"></th:block>
  </body>